@use "../abstracts/" as *;
// STYLES FOR CARDS IN FEATURES SECTION
.feature-box {
  background-color: rgba($color-white, 0.7);
  font-size: $text-size-base;
  padding: rem-calc(25) rem-calc(10);
  text-align: center;
  border-radius: rem-calc(3);
  box-shadow: $box-shadow;
  transition: all 0.3s ease-in-out;

  &__icon {
    font-size: $heading-text-xl;
    margin-bottom: rem-calc(30);
    background-image: linear-gradient(
      to right,
      $color-primary-light,
      $color-primary-dark
    );
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
  }
  &:hover {
    transform: translateY(rem-calc(-5)) scale(1.03);
    box-shadow: $box-shadow-hover;
    background-color: rgba($color-white, 0.9);
  }
}
